@charset "UTF-8";
/*Carpeta utilities*/
/*
@import "./utilities/fuctions";
*/
/*Carpeta base*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url(../utilities/_mixins.scss);
@import url(../utilities/_mixins.scss);
@import url(../utilities/_mixins.scss);
@import url(../utilities/_mixins.scss);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*border: 1px solid red;*/
}

@font-face {
  font-family: Poppins;
  src: url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
}
/*Carpeta layout*/
header {
  font-family: "Poppins", sans-serif;
}
header a {
  color: #470063;
  text-decoration: none;
}
header a:hover {
  color: #FF1D79;
}
header ul {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header .navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
  background-color: #ffffff;
  font-size: 1.125rem;
  width: 100%;
  height: 4.375rem;
  border-bottom: 0.1875rem solid #470063;
  list-style: none;
}
header .navBar div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
header .logo {
  position: relative;
  top: 1.3125rem;
}
header .imgproducto {
  width: 100%;
}

.sectionPrincipal {
  background-image: url("../assets/img/fotoPrincipal.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 38.75rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  place-items: center;
}
.sectionPrincipal .btnMovilPrimary, .sectionPrincipal .btnMovilSecondary {
  display: none;
}
.sectionPrincipal h1 {
  color: #FF1D79;
  font-size: 3rem;
  grid-row: 1/2;
  grid-column: 1/3;
  align-self: end;
}
.sectionPrincipal p {
  color: #470063;
  font-size: 1.875rem;
  grid-row: 2/3;
  grid-column: 1/3;
}
.sectionPrincipal .buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  grid-row: 3/4;
  grid-column: 1/3;
  flex-wrap: wrap;
  align-self: self-start;
  font-size: 1.125rem;
  font-family: "Poppins", sans-serif;
}
.sectionPrincipal .btnPrimary {
  width: 17.4375rem;
  height: 3.75rem;
  background-color: #FF1D79;
  color: white;
  border-radius: 1.25rem;
  box-shadow: 0.25rem 0.25rem 0.25rem #555555;
  border: 0.125rem solid #FF1D79;
  cursor: pointer;
}
.sectionPrincipal .btnSecondary {
  width: 17.4375rem;
  height: 3.75rem;
  color: #470063;
  border: 0.125rem solid #470063;
  border-radius: 1.25rem;
  box-shadow: 0.25rem 0.25rem 0.25rem #555555;
  background-color: rgba(15, 10, 10, 0);
  cursor: pointer;
}

.btnMovilVerMas {
  display: none;
}

.cardImg .imgproducto {
  width: 100%;
}

.sectionColeccion {
  background-color: #EAE8FF;
  font-family: "Poppins", sans-serif;
  width: 100%;
  padding: 1.875rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 210px 380px 210px 380px 210px 380px 210px;
}
.sectionColeccion .tituloColeccion {
  text-align: center;
  color: #470063;
  font-size: 3rem;
  padding: 2.5rem;
}
.sectionColeccion .textoCard {
  font-family: "Poppins", sans-serif;
  color: #470063;
  font-size: 1.875rem;
  writing-mode: vertical-lr;
  transform: rotateZ(180deg);
  text-align: center;
}
.sectionColeccion .productos {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2.1875rem;
}
.sectionColeccion .anuncio {
  position: relative;
}
.sectionColeccion .cartel {
  display: flex;
  background-color: #470063;
  width: 14.5625rem;
  height: 2.0625rem;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  font-style: italic;
  justify-content: center;
  align-items: center;
  border-radius: 1.25rem 1.25rem 0rem 0rem;
  position: absolute;
  top: -2.0625rem;
  left: 50%;
  transform: translateX(-50%);
}
.sectionColeccion .contenedorbtn {
  display: flex;
  justify-content: end;
  align-self: self-start;
  padding: 2.1875rem;
}
.sectionColeccion .contenedorbtn .btnVerMas {
  display: flex;
  width: 9.3125rem;
  height: 2.875rem;
  justify-content: center;
  align-items: center;
  font-size: 1.125rem;
  background-color: #FF1D79;
  color: white;
  padding: 18px;
  border-radius: 1.25rem;
  box-shadow: 0.25rem 0.25rem 0.25rem #555555;
  border: 0.125rem solid #FF1D79;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}

/*PÁGINA DE ARETES*/
.dropdown-toggle {
  color: #470063;
  font-size: 1.125rem;
}
.dropdown-toggle a {
  text-decoration: none;
  padding-left: 5%;
}
.dropdown-toggle a:hover {
  color: #FF1D79;
}
.dropdown-toggle i {
  font-style: normal;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.125rem;
  font-weight: bold;
}

.dropdown-menu {
  width: 200%;
  border-radius: 0.625rem;
}
.dropdown-menu li {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: left;
  padding-block: 0.5rem;
}
.dropdown-menu li a {
  color: #FF1D79;
  font-size: 1.125rem;
  width: 60%;
}
.dropdown-menu li img {
  width: 1.5rem;
  height: 1.5rem;
}

nav ul div button.dropdown-toggle {
  align-items: center;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.dropdown-item {
  color: #FF1D79;
  font-size: 1.125rem;
}

.earrings-main {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #EAE8FF;
}
.earrings-main .sectionColeccion {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  width: 100%;
  height: 100%;
  padding-block: 3%;
}
.earrings-main .sectionColeccion .tituloAretes h2 {
  font-weight: 500;
  font-size: 2.66rem;
  color: #FF1D79;
  padding: 10px 50px 10px 50px;
}
.earrings-main .sectionColeccion .filters-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20%;
  padding: 10px 50px 10px 50px;
}
.earrings-main .sectionColeccion .filters-section p {
  font-size: 1rem;
  color: #363636;
  text-align: center;
  margin-bottom: 0;
}
.earrings-main .sectionColeccion .filters-section .dropdown .dropdown-toggle {
  font-size: 1rem;
  color: #363636;
}
.earrings-main .sectionColeccion .products-section {
  display: flex;
  flex-direction: column;
  padding-block: 3%;
  gap: 4rem;
}

.sectionFotografia {
  margin-bottom: 1.25rem;
}
.sectionFotografia .tituloFotografia {
  font-size: 3rem;
  text-align: center;
  color: #470063;
  font-style: italic;
  margin-top: 50px;
}
.sectionFotografia .fotografias {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 1.875rem;
}
.sectionFotografia .fotografias .fotografia {
  width: 29.5rem;
  height: 27.5rem;
  margin-bottom: 0.625rem;
}

.sectionSlider {
  background-color: #470063;
  padding: 1.25rem;
  overflow: hidden;
  white-space: nowrap;
}
.sectionSlider .slide-track {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  animation: 20s slide infinite linear;
  width: 2848px;
}
.sectionSlider .slide-track .slide {
  display: flex;
  flex-direction: row;
}
.sectionSlider .slide-track .slide .containerSlide {
  display: flex;
  flex-direction: row;
}
.sectionSlider .slide-track .slide .containerSlide .textoSlide {
  color: aliceblue;
  font-size: 1.875rem;
  align-self: center;
  margin: 10px 50px 10px 25px;
}
.sectionSlider .slide-track .slide .containerSlide .imgSlide {
  width: 100%;
}

/*@keyframes slide{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-50%);
    }
}*/
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1424px);
  }
}
.sectionTestimonios {
  padding: 0.625rem;
}
.sectionTestimonios .tituloTestimonios {
  color: #470063;
  font-size: 3rem;
  text-align: center;
  padding: 1.25rem;
}
.sectionTestimonios .cardTestimonios {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.sectionTestimonios .cardCompleta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.sectionTestimonios .divTestimonios {
  background-color: #EAE8FF;
  width: 15.875rem;
  height: 25rem;
  border-radius: 0.9375rem;
  padding: 20px;
}
.sectionTestimonios .divTestimonios .textoCardTestimonios {
  color: #470063;
  font-size: 1.125rem;
}
.sectionTestimonios .divTestimonios .nombre {
  color: #FF1D79;
  font-size: 1.125rem;
  font-weight: 700;
}
.sectionTestimonios .divTestimonios .fotoCliente {
  margin-bottom: 0.625rem;
}

.sectionCompra {
  padding: 1.25rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1fr);
}
.sectionCompra .linea {
  height: 6px;
  width: 100%;
  background-color: #FF1D79;
  grid-row: 2/3;
  grid-column: 1/3;
  align-self: center;
  border-radius: 20px;
  opacity: 100;
}
.sectionCompra .tituloCompra {
  color: #FF1D79;
  font-size: 3rem;
  text-align: center;
  grid-row: 1/2;
  grid-column: 1/3;
}
.sectionCompra .contenedorCompra {
  grid-row: 2/3;
  grid-column: 1/3;
  justify-items: center;
}
.sectionCompra .contenedorCompra .cardCompra {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 55px;
  background-color: #FF1D79;
  width: 700px;
  height: 190px;
  border-radius: 3.125rem;
}
.sectionCompra .contenedorCompra .cardCompra .divCompra {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.sectionCompra .contenedorCompra .cardCompra .divCompra .textoCompra {
  color: white;
  font-size: 1.125rem;
}

.sectionFooter {
  background-color: #EAE8FF;
}
.sectionFooter .articleFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
  gap: 30px;
  flex-wrap: wrap;
}
.sectionFooter .articleFooter .divcontactoFooter {
  padding: 5px;
}
.sectionFooter .articleFooter .divcontactoFooter .imgLogoFooter {
  padding-bottom: 0.9375rem;
  padding-top: 15px;
}
.sectionFooter .articleFooter .divcontactoFooter .imgFooter {
  padding-right: 0.9375rem;
}
.sectionFooter .articleFooter .menuFooter .link-list {
  list-style-type: none;
}
.sectionFooter .articleFooter .menuFooter .link-list .link {
  text-decoration: none;
  color: #212529;
}
.sectionFooter .articleFooter .menuFooter .link-list .link:hover {
  color: #470063;
}
.sectionFooter .articleFooter .subtitulo {
  font-weight: 600;
}
.sectionFooter .articleCopy {
  text-align: center;
  padding: 40px;
}

.sectionContacto {
  padding: 40px;
}
.sectionContacto .articleContacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.sectionContacto .articleContacto .tituloContacto {
  color: #FF1D79;
  font-size: 3rem;
}
.sectionContacto .articleContacto .parrafoContacto {
  color: #470063;
  font-size: 1.875rem;
  text-align: center;
}
.sectionContacto .datos .datoContacto {
  border: 1px solid gray;
  border-radius: 8px;
  padding: 7px;
  font-size: 1.125rem;
  width: 800px;
  justify-content: center;
}
.sectionContacto .datos .primerosDatos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.sectionContacto .datos .dato1 {
  width: 390px;
}
.sectionContacto .datos .dato2 {
  width: 390px;
}
.sectionContacto .datos .dato4 {
  height: 100px;
}
.sectionContacto .datos .dato5 {
  text-align: center;
  background-color: #470063;
  color: aliceblue;
}
.sectionContacto .datos .segundosDatos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.presentación .frase {
  width: 100%;
}
.presentación .presentacionBorbolet {
  background-color: #EAE8FF;
}
.presentación .presentacionBorbolet .articlePresentacion {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 80px;
  padding: 0px 20px 0px 20px;
}
.presentación .presentacionBorbolet .articlePresentacion .imgCreadora {
  width: 260px;
  border-radius: 50px;
}
.presentación .presentacionBorbolet .articlePresentacion .txtCreadora {
  font-size: 1.875rem;
  color: #470063;
  margin-bottom: 50px;
}
.presentación .presentacionBorbolet .articlePresentacion .divCreadora .flechas {
  text-align: right;
  margin-right: 50px;
}
.presentación .presentacionBorbolet .articleHistoria {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 80px;
  padding: 20px;
  padding-top: 80px;
}
.presentación .presentacionBorbolet .articleHistoria .imgIndigenas {
  width: 260px;
  border-radius: 50px;
}
.presentación .presentacionBorbolet .articleHistoria .txtCreadora {
  font-size: 1.875rem;
  color: #FF1D79;
  margin-bottom: 50px;
}
.presentación .presentacionBorbolet .articleHistoria .flechas .imgFlecha {
  transform: scaleX(-1);
  margin-left: 50px;
}
.presentación .presentacionBorbolet .articleResultado {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 80px;
  padding: 0px 80px 0px 80px;
}
.presentación .presentacionBorbolet .articleResultado .imgModelos {
  width: 260px;
  border-radius: 50px;
}
.presentación .presentacionBorbolet .articleResultado .txtCreadora {
  font-size: 1.875rem;
  color: #470063;
  margin-bottom: 50px;
}

/*Carpeta components
@import "./components/bootstrap";*/
.card {
  background-color: #ffffff;
  width: 20.625rem;
  height: 22.1875rem;
  text-align: center;
  border-radius: 1.25rem;
  cursor: pointer;
  padding: 0.375rem;
}
.card .cardImg {
  display: flex;
  justify-content: center;
  object-fit: contain;
}
.card .tituloProducto {
  display: flex;
  color: #FF1D79;
  font-size: 1.375rem;
  align-items: left;
  justify-content: left;
}
.card .cardDescripcion {
  display: flex;
  justify-content: space-between;
  padding: 0.625rem;
  height: 50px;
}
.card .precioProducto {
  display: flex;
  justify-content: flex-start;
  padding-left: 0.625rem;
}
.card .cestaCard {
  background-color: #FF1D79;
  width: 2.0625rem;
  height: 2.0625rem;
  border-radius: 30px;
  border: 0rem;
  cursor: pointer;
}

/*Media Querys*/
@media (max-width: 1188px) {
  .sectionColeccion .productos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.9375rem;
  }
  .sectionTestimonios .ultima {
    display: none;
  }
}
@media (max-width: 1130px) {
  .item3 {
    display: none;
  }
  .item23 {
    display: none;
  }
  .item33 {
    display: none;
  }
  .sectionColeccion .productos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.5625rem;
  }
}
@media (max-width: 950px) {
  .navBar .logo {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: 1.4375rem;
  }
  .navBar .dropdown {
    margin-right: 300px;
  }
  .coleccion {
    display: none;
  }
  .testimonios {
    display: none;
  }
  .presentacion {
    display: none;
  }
  .contacto {
    display: none;
  }
  .procesos {
    display: none;
  }
  .cesta {
    display: none;
  }
  .sectionPrincipal h1 {
    grid-row: 1/2;
    grid-column: 1/4;
    align-self: self-end;
  }
  .sectionPrincipal .texto {
    grid-row: 2/3;
    grid-column: 1/4;
  }
  .sectionPrincipal .buttons {
    grid-column: 1/4;
    align-self: baseline;
  }
  .sectionContacto .datos .datoContacto {
    width: 600px;
  }
  .sectionContacto .datos .dato1 {
    width: 290px;
  }
  .sectionContacto .datos .dato2 {
    width: 290px;
  }
}
@media (max-width: 834px) {
  .sectionColeccion .contenedorbtn .btnVerMas {
    width: 8.0625rem;
    height: 1.25rem;
  }
  .sectionColeccion .cartel {
    width: 12.5rem;
    height: 1.625rem;
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
  }
  .sectionColeccion .textoCard {
    font-size: 24px;
  }
  .card {
    width: 250px;
    height: 300px;
  }
  .card .tituloProducto {
    font-size: 1.125rem;
  }
  .card .textoCard {
    font-size: 1.5rem;
  }
  .earrings-main .sectionColeccion .tituloAretes h2 {
    font-size: 34px;
  }
  .sectionSlider .slide-track {
    height: 40px;
  }
  .sectionSlider .slide-track .slide .containerSlide .textoSlide {
    font-size: 1.125rem;
    margin: 10px 50px 10px 25px;
  }
  .sectionTestimonios {
    padding: 5px;
  }
  .sectionTestimonios .cardTestimonios {
    gap: 8px;
  }
  .sectionTestimonios .divTestimonios {
    width: 200px;
    height: 310px;
    padding: 15px;
  }
  .sectionTestimonios .divTestimonios .piedeTestimonios {
    display: flex;
    flex-direction: row;
  }
  .sectionTestimonios .divTestimonios .piedeTestimonios .piedeTestimonios2 {
    display: flex;
    flex-direction: column;
    align-self: center;
  }
  .sectionTestimonios .divTestimonios .textoCardTestimonios {
    font-size: 16px;
    margin-bottom: 3px;
  }
  .sectionTestimonios .divTestimonios .nombre {
    font-size: 16px;
    margin-bottom: 5px;
  }
  .sectionTestimonios .divTestimonios .fotoCliente {
    margin-bottom: 5px;
    margin-right: 20px;
    width: 55px;
    height: 55px;
  }
  .sectionCompra .contenedorCompra .cardCompra {
    width: 500px;
    height: 150px;
  }
  .sectionCompra .contenedorCompra .cardCompra .divCompra .textoCompra {
    font-size: 1.125rem;
  }
  .sectionCompra .contenedorCompra .cardCompra .divCompra .imgCompra {
    width: 84px;
    height: 84px;
  }
}
@media (max-width: 635px) {
  .sectionPrincipal h1 {
    font-weight: 500;
    font-size: 36px;
  }
  .sectionPrincipal .texto {
    font-size: 26px;
  }
  .sectionPrincipal .btnPrimary {
    width: 200px;
    height: 50px;
    font-size: 14px;
  }
  .sectionPrincipal .btnSecondary {
    width: 200px;
    height: 50px;
    font-size: 14px;
  }
  .sectionColeccion {
    padding: 5px;
    display: grid;
    grid-template-rows: 200px 280px 200px 280px 200px 280px 200px;
    grid-template-columns: repeat(1, 1fr);
  }
  .sectionColeccion .productos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
  .sectionColeccion .tituloColeccion {
    font-size: 2.125rem;
  }
  .sectionColeccion .card {
    width: 214px;
    height: 264px;
    padding: 6px;
  }
  .sectionColeccion .card .tituloProducto {
    font-size: 18px;
  }
  .sectionColeccion .card .textoCard {
    font-size: 14px;
  }
  .sectionColeccion .card .cestaCard {
    width: 25px;
    height: 25px;
  }
  .sectionColeccion .card .imgcestacard {
    width: 15px;
    height: 18px;
  }
  .sectionColeccion .card .contenedorbtn {
    padding: 12px;
  }
  .sectionColeccion .contenedorbtn .btnVerMas {
    width: 110px;
    height: 14px;
    font-size: 16px;
  }
  .sectionColeccion .cartel {
    width: 170px;
    height: 1.625rem;
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
  }
  .sectionFotografia .tituloFotografia {
    font-size: 34px;
  }
  .sectionFotografia .fotografias .fotografia {
    width: 372px;
    height: 340px;
  }
  .sectionTestimonios .tituloTestimonios {
    font-size: 2.125rem;
  }
  .sectionTestimonios .penultima {
    display: none;
  }
  .sectionCompra .tituloCompra {
    font-size: 2.125rem;
  }
  .sectionCompra .contenedorCompra .cardCompra {
    width: 450px;
    height: 150px;
  }
  .sectionCompra .contenedorCompra .cardCompra .divCompra .textoCompra {
    font-size: 16px;
  }
  .sectionCompra .contenedorCompra .cardCompra .divCompra .imgCompra {
    width: 80px;
    height: 80px;
  }
  .sectionContacto .articleContacto .tituloContacto {
    font-size: 1.875rem;
  }
  .sectionContacto .articleContacto .parrafoContacto {
    font-size: 1.125rem;
  }
  .sectionContacto .datos .datoContacto {
    width: 400px;
  }
  .sectionContacto .datos .dato1 {
    width: 190px;
  }
  .sectionContacto .datos .dato2 {
    width: 190px;
  }
}
@media (max-width: 500px) {
  .divNav {
    width: 100%;
  }
  .sectionPrincipal .navBar .dropdown {
    padding: 50px;
  }
  .sectionPrincipal .btnPrimary {
    display: none;
  }
  .sectionPrincipal .btnSecondary {
    display: none;
  }
  .sectionPrincipal h1 {
    font-size: 24px;
    font-weight: 500;
  }
  .sectionPrincipal .btnMovilPrimary {
    display: block;
    width: 140px;
    height: 36px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF1D79;
    color: white;
    padding: 18px;
    border-radius: 12px;
    box-shadow: 0.25rem 0.25rem 0.25rem #555555;
    border: 0.125rem solid #FF1D79;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    font-weight: 500;
  }
  .sectionPrincipal .btnMovilSecondary {
    display: block;
    width: 140px;
    height: 36px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #470063;
    border: 0.125rem solid #470063;
    padding: 18px;
    border-radius: 12px;
    box-shadow: 0.25rem 0.25rem 0.25rem #555555;
    background-color: rgba(15, 10, 10, 0);
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    font-weight: 500;
  }
  .sectionPrincipal .texto {
    font-size: 18px;
  }
  .sectionColeccion {
    padding: 5px;
    display: grid;
    grid-template-rows: 160px 295px 160px 295px 160px 295px 160px;
    grid-template-columns: repeat(1, 1fr);
  }
  .sectionColeccion .contenedorbtn .btnVerMas {
    display: none;
  }
  .sectionColeccion .item1 {
    display: none;
  }
  .sectionColeccion .item21 {
    display: none;
  }
  .sectionColeccion .item31 {
    display: none;
  }
  .sectionColeccion .textoCard {
    display: none;
  }
  .sectionColeccion .tituloColeccion {
    font-size: 24px;
  }
  .sectionColeccion .contenedorbtn {
    display: flex;
    justify-content: center;
    padding: 20px;
  }
  .sectionColeccion .contenedorbtn .btnMovilVerMas {
    display: block;
    display: flex;
    width: 195px;
    height: 5px;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    background-color: #FF1D79;
    color: white;
    padding: 14px;
    border-radius: 15px;
    box-shadow: 0.25rem 0.25rem 0.25rem #555555;
    border: 0.125rem solid #FF1D79;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
  }
  .sectionColeccion .card {
    width: 250px;
    height: 300px;
  }
  .sectionColeccion .card .tituloProducto {
    font-size: 1.125rem;
  }
  .sectionFotografia .tituloFotografia {
    font-size: 24px;
  }
  .sectionTestimonios .tituloTestimonios {
    font-size: 24px;
  }
  .sectionCompra .tituloCompra {
    font-size: 24px;
  }
  .sectionCompra .contenedorCompra .cardCompra {
    width: 290px;
    height: 100px;
    border-radius: 15px;
    gap: 20px;
  }
  .sectionCompra .contenedorCompra .cardCompra .compra1 {
    display: none;
  }
  .sectionCompra .contenedorCompra .cardCompra .divCompra .textoCompra {
    margin: 0px;
    margin-bottom: 5px;
  }
  .sectionCompra .contenedorCompra .cardCompra .divCompra .imgCompra {
    width: 60px;
    height: 60px;
    margin: 5px 0px 0px 0px;
  }
  .sectionContacto .articleContacto .tituloContacto {
    font-size: 1.875rem;
  }
  .sectionContacto .articleContacto .parrafoContacto {
    font-size: 1.125rem;
  }
  .sectionContacto .datos .datoContacto {
    width: 300px;
  }
  .sectionContacto .datos .dato1 {
    width: 150px;
  }
  .sectionContacto .datos .dato2 {
    width: 150px;
  }
}
@media (max-width: 400px) {
  .sectionFotografia {
    margin: 0;
    padding: 0;
  }
  .sectionFotografia .fotografias {
    padding: 1px;
  }
  .sectionFotografia .fotografias .fotografia {
    width: 302px;
    height: 270px;
  }
  .sectionTestimonios .antepenultima {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
