@media (max-width:1188px){
    .sectionColeccion{
        .productos{
            @include flex(row, center, center, .9375rem);
        }
    }
    .sectionTestimonios{
        .ultima{
            display:none;
        }
    }
}


@media (max-width:1130px){
    .item3{
        display:none
    }
    .item23{
        display:none
    }
    .item33{
        display:none
    }
    .sectionColeccion{
        .productos{
        @include flex(row, center, center, 1.5625rem);
    }
}
}
@media (max-width: 950px){
    .navBar{  
        .logo{
            position: absolute;
            transform: translateX(-50%);
            left: 50%;
            top: 1.4375rem;
        }
        .dropdown{
            margin-right: 300px;
        }
    }

    .coleccion{
        display:none
    }
    .testimonios{
        display:none
    }
    .presentacion{
        display:none
    }
    .contacto{
        display:none
    }
    .procesos{
        display:none
    }
    .cesta{
        display:none
    }

    .sectionPrincipal{
        h1{
            grid-row: 1/2;
            grid-column: 1/4;
            align-self: self-end;
        }
        
        .texto{
            grid-row: 2/3;
            grid-column: 1/4;
        }
    
        .buttons {
            grid-column: 1/4;
            align-self:baseline;
          }
    }
}

@media (max-width:834px){
    .sectionColeccion{
        .contenedorbtn{
            .btnVerMas{
                width: 8.0625rem;;
                height: 1.25rem;
            }
        }
        .cartel{
            width: 12.5rem;
            height: 1.625rem;
            position: absolute;
            top: -25px; 
            left: 50%;
            transform: translateX(-50%);
        }
        .textoCard{
            font-size: 24px;
        }
    }
    .card{
        width: 250px;
        height: 300px;
        .tituloProducto{
            font-size: 1.125rem;
        }
        .textoCard{
            font-size: 1.5rem;
        }
    }
    .earrings-main{
        .sectionColeccion{
            .tituloAretes h2{
                font-size: 34px;
            }
        }
    }

    .sectionSlider{
        .slide-track{
            height: 40px;
            .slide{
                .containerSlide{
                    .textoSlide{
                        font-size: map-get($medidas, parrafo);
                        margin: 10px 50px 10px 25px;
                    }
                }            
            }
        }
    }

    .sectionTestimonios{
        padding: 5px;
        .cardTestimonios{
            gap: 8px;
        }
        .divTestimonios{
            width: 200px;
            height: 310px;
            padding:15px;
            .piedeTestimonios{
                display: flex;
                flex-direction: row;
                .piedeTestimonios2{
                    display: flex;
                    flex-direction: column;
                    align-self: center;
                }
            }
            .textoCardTestimonios{
                font-size: 16px;
                margin-bottom: 3px;
            }
            .nombre{
                font-size: 16px;
                margin-bottom: 5px;
            }
            .fotoCliente{
                margin-bottom: 5px;
                margin-right: 20px;
                width: 55px;
                height: 55px;
            }
        }
    }

    .sectionCompra{
        .contenedorCompra{
            .cardCompra{
                width: 500px;
                height: 150px;
                .divCompra{
                    .textoCompra{
                        font-size: map-get($medidas, parrafo);
                    }
                    .imgCompra{
                        width: 84px;
                        height: 84px;
                    }
                }
            }
        }
    }
}

@media (max-width:635px){
    .sectionPrincipal{
        h1{
            font-weight: 500;
            font-size: 36px;
        }
        .texto{
            font-size: 26px;
        }
        .btnPrimary{
            width: 200px;
            height: 50px;
            font-size: 14px;
        }
        .btnSecondary{
            width: 200px;
            height: 50px;
            font-size: 14px;
        }
    }

    .sectionColeccion{
        padding: 5px;
        display: grid;
        grid-template-rows: 200px 280px 200px 280px 200px 280px 200px;
        grid-template-columns: repeat(1,1fr);
        .productos{
            @include flex(row, center, center, 5px);
        }
        .tituloColeccion{
            font-size: 2.125rem;
        }
        .card{
            width: 214px;
            height: 264px;
            padding: 6px;
            .tituloProducto{
                font-size: 18px;
            }
            .textoCard{
                font-size: 14px;
            }
            .cestaCard{
                width: 25px;
                height: 25px;
            }
            .imgcestacard{
                width: 15px;
                height: 18px;
            }
            .contenedorbtn{
                padding: 12px;
            }
        }
        .contenedorbtn{
            .btnVerMas{
                width: 110px;
                height: 14px;
                font-size: 16px;
            }
        }
        .cartel{
            width: 170px;
            height: 1.625rem;
            position: absolute;
            top: -25px; 
            left: 50%;
            transform: translateX(-50%);
            font-size: 14px;
        }
    }

    .sectionFotografia{
        .tituloFotografia{
            font-size: 34px;
        }
        .fotografias{
            .fotografia{
                width: 372px;
                height: 340px;
            }
        }
    }

    .sectionTestimonios{
        .tituloTestimonios{
            font-size: 2.125rem;
        }
        .penultima{
            display:none;
        }
    }
    
    .sectionCompra{
        .tituloCompra{
            font-size: 2.125rem;
        }
        .contenedorCompra{
            .cardCompra{
                width: 450px;
                height: 150px;
                .divCompra{
                    .textoCompra{
                        font-size: 16px;
                    }
                    .imgCompra{
                        width: 80px;
                        height: 80px;
                    }
                }
            }
        }
    }
}
