@media (max-width:425px){
    .sectionPrincipal{
        .navBar{  
            .dropdown{
                padding: 50px;
            }
        }
        .btnPrimary{
            display: none;
        }
        .btnSecondary{
            display: none;
        }
        h1{
            font-size: 24px;
            font-weight: 500;
        }
        .btnMovilPrimary{
            display:block;
            width: 140px;
            height: 36px;
            font-size: 14px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #FF1D79;
            color:white;
            padding: 18px;
            border-radius: 12px;
            box-shadow: .25rem .25rem .25rem #555555;
            border: .125rem solid #FF1D79;
            font-family: "Poppins", sans-serif;
            cursor: pointer;
            font-weight: 500;
        }
        .btnMovilSecondary{
            display: block;
            width: 140px;
            height: 36px;
            font-size: 16px;
            display: flex;
            justify-content: center;
            align-items: center;
            color:#470063;
            border: .125rem solid #470063;
            padding: 18px;
            border-radius: 12px;
            box-shadow: .25rem .25rem .25rem #555555;
            background-color: rgba(15, 10, 10, 0);
            font-family: "Poppins", sans-serif;
            cursor: pointer;
            font-weight: 500;
        }
        .texto{
            font-size: 18px;
        }
    }

    .sectionColeccion{
        .contenedorbtn{
            .btnVerMas{
                display:none;
            }
        }
        .item1{
            display:none
        }
        .item21{
            display:none
        }
        .item31{
            display:none
        }
        .textoCard{
            display: none;
        }
        .tituloColeccion{
            font-size: 24px;
        }
        padding: 5px;
        display: grid;
        grid-template-rows: 160px 295px 160px 295px 160px 295px 160px;
        grid-template-columns: repeat(1,1fr);
        .contenedorbtn{
            display: flex;
            justify-content: center;
            padding: 20px;
            .btnMovilVerMas{
                display:block;
                display: flex;
                width: 195px;
                height: 5px;
                justify-content: center;
                align-items: center;
                font-size: 14px;
                background-color: #FF1D79;
                color:white;
                padding: 14px;
                border-radius: 15px;
                box-shadow: .25rem .25rem .25rem #555555;
                border: .125rem solid #FF1D79;
                font-family: "Poppins", sans-serif;
                cursor: pointer;
            }
        }
        .card{
            width: 250px;
            height: 300px;
            .tituloProducto{
                font-size: 1.125rem;
            }
        }
    }
    
}