.sectionFooter{
    background-color: map-get($color, terciario);
    font-family: "Poppins", sans-serif;

    .articleFooter{
        @include flex(row, space-around, baseline, 30px);
        flex-wrap: wrap;
        .divcontactoFooter{
            padding: 5px;
            .imgLogoFooter{
                padding-bottom: .9375rem;
                padding-top: 15px;
            }
            .imgFooter{
                padding-right: .9375rem;
            }
        }
        .menuFooter{
            .link-list{
                list-style-type: none;
                .link{
                    text-decoration: none;
                    color:#212529;
                    &:hover{
                        color: map-get($color, primario);
                    }
                }
            }
        }
        .subtitulo{
            font-weight: 600;
            font-family: "Poppins", sans-serif;
        }
 
    }
    .articleCopy{
        text-align: center;
        padding: 40px;
        font-family: "Poppins", sans-serif;
    }
}