/*PÁGINA DE ARETES*/
@import url(../utilities/_mixins.scss);
.dropdown-toggle {
    color: map-get($color, primario);
    font-size: map-get($medidas, parrafo);
    a{
        text-decoration: none;
        padding-left: 5%;
        &:hover{
            color: map-get($color, secundario);
        }
    }
    i{
        font-style: normal;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 1.125rem;
        font-weight:bold;
    }
}

.dropdown{
    .btn{
        border-color: #470063;
        border: none;
        box-shadow: 0 0 0 0;
    }
}

.dropdown-menu {
    width: 200%;
    border-radius: 0.625rem;
    li{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        text-align: left;
        padding-block: 0.5rem;
        a{
            color: map-get($color, secundario);
            font-size: 1.125rem;
            width: 60%;
        }
        img{
            width: 1.5rem;
            height: 1.5rem;
        }
    }
}
nav ul div button.dropdown-toggle {
    align-items: center;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.dropdown-item {
    color: map-get($color, secundario);
    font-size: 1.125rem;
}

.earrings-main{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: map-get($color, terciario);
    .sectionColeccion{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 100%;
        padding-block: 3%;
        .tituloAretes h2{
            font-weight: 500;
            font-size: 2.66rem;
            color: map-get($color, secundario);
            padding: 10px 50px 10px 50px;
        }
        .filters-section {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 20%;
            padding: 10px 50px 10px 50px;
            p{
                font-size: 1rem;
                color: #363636;
                text-align: center;
                margin-bottom: 0;
            }
            .dropdown .dropdown-toggle{
                font-size: 1rem;
                color: #363636;
            }
        }
        .products-section {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            padding-block: 3%;
            gap: 4rem;
            margin-top: 30px;
            .productos{
                @include flex(center, center, center, 30px);
                flex-wrap: wrap;
            }
        }
    }
}