@import url(../utilities/_mixins.scss);
.btnMovilVerMas{
    display: none;
}
.cardImg{
    .imgproducto{
        width: 100%;
    }
}

.sectionColeccion{
    background-color: #EAE8FF;
    font-family: "Poppins", sans-serif;
    width: 100%;
    padding: 1.875rem;
    @include grid(repeat(1,1fr), 210px 380px 210px 380px 210px 380px 210px);

    .tituloColeccion{
        text-align: center;
        color:map-get($color, primario);
        font-size: map-get($medidas, titulo);
        padding: 2.5rem;
    }
    .textoCard{
        font-family: "Poppins", sans-serif;
        color:map-get($color, primario);
        font-size: map-get($medidas, subtitulo);
        writing-mode: vertical-lr;
        transform: rotateZ(180deg);
        text-align: center;
    }
    .productos{
        width: 100%;
        @include flex(row, center, center, 2.1875rem);
    }
    .anuncio{
        position: relative;    
    }
    .cartel{
        display: flex;
        background-color: map-get($color, primario);
        width: 14.5625rem;
        height: 2.0625rem;
        font-family: "Poppins", sans-serif;
        color: #ffffff;
        font-style: italic;
        justify-content: center;
        align-items: center;
        border-radius: 1.25rem 1.25rem 0rem 0rem;
        position: absolute;
        top: -2.0625rem; 
        left: 50%;
        transform: translateX(-50%);
    }
    .contenedorbtn{
        display: flex;
        justify-content: end;
        align-self: self-start;
        padding: 2.1875rem;
        .btnVerMas{
            display: flex;
            width: 9.3125rem;
            height: 2.875rem;
            justify-content: center;
            align-items: center;
            font-size: map-get($medidas, parrafo);
            background-color: map-get($color, secundario);
            color:white;
            padding: 18px;
            border-radius: 1.25rem;
            box-shadow: .25rem .25rem .25rem #555555;
            border: .125rem solid #FF1D79;
            font-family: "Poppins", sans-serif;
            cursor: pointer;
        }
    }
}