.card{
    background-color: #ffffff;
    width: 20.625rem;
    height: 22.1875rem;
    text-align: center;
    border-radius: 1.25rem;
    cursor: pointer;
    padding: .375rem;
    .cardImg{
        display:flex;
        justify-content: center;
        object-fit: contain;
    }
    .tituloProducto{
        display:flex;
        color:map-get($color, secundario);
        font-size: 1.375rem;
        align-items: left;
        justify-content: left;
    }
    .cardDescripcion{
        display:flex;
        justify-content: space-between;
        padding: .625rem;
        height: 50px;
    }
    .precioProducto{
        display:flex;
        justify-content: flex-start;
        padding-left: .625rem;
    }
    .cestaCard{
        background-color: #FF1D79;
        width: 2.0625rem;
        height: 2.0625rem;
        border-radius: 30px;
        border:0rem;
        cursor: pointer;
    }
}